NODE_ENV=production

    PATH_CERT='C:/Users/usuario/cert.pem'
    PATH_KEY='C:/Users/usuario/key.pem'



JWT_SECRET='651561651313232123163165165321531651'
PORT_API=3333
DATABASE_URL=mysql://root:123@localhost:3306/banco

PATH_BACKUPS='C:/backup-api'
RABBITMQ_URL='amqp://localhost'

 